.navbar {
    background: $navbar-bg;

    .navbar-brand {
        color: $navbar-brand-color;
    }

    .nav-link {
        color: $navbar-text-color;
    }

    .dropdown-menu {
        background: #000;
        padding: 0;
    }
}
